<div class="comment my-4">
  <p id="notice" class="bg-success bg-green-100 px-6 py-4"><%= notice %></p>

  <p class="js-comment-author">
    <strong>Author:</strong>
    <%= @comment.author %>
  </p>

  <p class="js-comment-text">
    <strong>Text:</strong>
    <%= @comment.text %>
  </p>
</div>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
