<%= turbo_frame_tag "form_tabs", data: { turbo: true } do %>
  <%= render "comments/turbo/tabs" %>
  <hr />
  <%= form_with(model: @comment, data: { action: "turbo:submit-end->comments#resetText" }, class: "form-horizontal") do |f| %>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label "Name", class: "form-label pull-right" %>
      </div>
      <div class="col-sm-10">        <%= f.text_field :author, class: "form-control", placeholder: "Your Name" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :text, class: "form-label pull-right" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :text, class: "form-control", placeholder: "Say something using markdown..." %>        
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">  
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
