<div>
  <ul class="nav nav-pills">
    <li class="nav-item <%= @formType == "horizontal" ? "active" : "" %>" role="presentation">
      <%= link_to "Horizontal Form", horizontal_form_path %>
    </li>
    <li class="nav-item <%= @formType == "stacked" ? "active" : "" %>" role="presentation">
      <%= link_to "Stacked Form", stacked_form_path %> 
    </li>
    <li class="nav-item <%= @formType == "inline" ? "active" : ""%>" role="presentation">
      <%= link_to "Inline Form", inline_form_path %>  
    </li>
  </ul>
</div>
