<div class="no-prose">
  <ul class="flex gap-1">
    <li class="nav-item <%= @form_type == "horizontal" ? "active" : "" %>" role="presentation">
      <%= link_to "Horizontal Form", horizontal_form_path %>
    </li>
    <li class="nav-item <%= @form_type == "stacked" ? "active" : "" %>" role="presentation">
      <%= link_to "Stacked Form", stacked_form_path %>
    </li>
    <li class="nav-item <%= @form_type == "inline" ? "active" : ""%>" role="presentation">
      <%= link_to "Inline Form", inline_form_path %>
    </li>
  </ul>
</div>
