<p>Current Commit:
  <%= link_to git_commit_sha_short,
              "https://github.com/shakacode/react-webpack-rails-tutorial/commit/#{git_commit_sha}",
              id: "git-commit-sha" %>
</p>
<ul>
  <li>
    <%= link_to "ShakaCode", "http://www.shakacode.com"%>
    is doing Skype plus Slack/Github based coaching for
    <%= link_to "React on Rails", "https://github.com/shakacode/react_on_rails" %>.
    <b><%= link_to "Click here", "http://www.shakacode.com/work/index.html" %></b> for more information.
  </li>
  <li>
    If this work interests you and you're a developer or designer looking for full or part-time remote work: please
    visit <%= link_to "ShakaCode.com", "http://www.shakacode.com" %>,
    <%= link_to "click here",
                "http://forum.shakacode.com/t/railsonmaui-is-hiring-and-partnering-part-time-remote-is-ok/156/3" %>
    and
    <%= link_to "here",
                "http://forum.shakacode.com/t/railsonmaui-is-hiring-and-partnering-part-time-remote-is-ok/156/2" %>.
  </li>
  <li>
    Please see the
    <%= link_to "github.com/shakacode/react-webpack-rails-tutorial/README.md",
                "https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/README.md" %>
    for details of how this example site was built.
  </li>
  <li>
    Be sure to read our new article
    <%= link_to "The React on Rails Doctrine",
                "http://www.shakacode.com/2016/01/26/the-react-on-rails-doctrine.html" %>.
  </li>
</ul>
<hr/>
