<p>Current Commit:
  <%= link_to git_commit_sha_short,
              "https://github.com/shakacode/react-webpack-rails-tutorial/commit/#{git_commit_sha}",
              id: "git-commit-sha" %>
</p>
<ul>
  <li>
    <%= link_to "Can ShakaCode Help You?",
                "https://blog.shakacode.com/can-shakacode-help-you-4a5b1e5a8a63#.jex6tg9w9" %>
    We're actively seeking new projects with React, React-Native, or Ruby on Rails.
  </li>

  <li>
    See the
    <%= link_to "github.com/shakacode/react-webpack-rails-tutorial/README.md",
                "https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/README.md" %>
    for details of how this example site was built.
  </li>
  <li>
    Read <%= link_to "Documentation for React on Rails",
                "https://shakacode.gitbooks.io/react-on-rails/content/" %> and
    <%= link_to "The React on Rails Doctrine",
                "http://www.shakacode.com/2016/01/27/the-react-on-rails-doctrine.html" %>.
  </li>
  <li>
    See our React Native Client:
    <%= link_to "shakacode/react-native-tutorial",
                "https://github.com/shakacode/react-native-tutorial" %>.
  </li>
  <li>
    Watch the <%= link_to "React On Rails Tutorial Series",
                "https://www.youtube.com/playlist?list=PL5VAKH-U1M6dj84BApfUtvBjvF-0-JfEU" %>.
  </li>
  <li>
    <%= link_to "ShakaCode", "http://www.shakacode.com"%>
    is doing support for React on Rails, including a private Slack channel, source code reviews, and pair programming sessions.
    <b><%= link_to "Click here", "http://www.shakacode.com/work/index.html" %></b> for more information.
  </li>
</ul>
<hr/>
