<h2>
  Featuring the <%= link_to "React on Rails gem", "https://github.com/shakacode/react_on_rails" %>
</h2>
<h3>Using <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %> with
  <%= link_to "React", "http://facebook.github.io/react/" %> (Server rendering) +
  <%= link_to "Redux", "https://github.com/reactjs/redux" %> +
  <%= link_to "React Router", "https://github.com/reactjs/react-router" %> +
  <%= link_to "react-router-redux" , "https://github.com/reactjs/react-router-redux" %>
</h3>
<%= render "header" %>

<%= react_component('RouterApp', props: render(template: "/comments/index.json.jbuilder"),
    prerender: true, raise_on_prerender_error: true) %>
