<!DOCTYPE html>
<html>
<head>
  <title>RailsReactTutorial</title>

  <%= javascript_pack_tag 'vendor' %>
  <%= javascript_pack_tag 'app' %>

  <!-- These do not use turbolinks, so no data-turbolinks-track -->
  <!-- This is to load the hot assets. -->



  <%= csrf_meta_tags %>
</head>
<body>

<%= react_component "NavigationBarApp" %>
<div class="container">
  <%= yield %>
</div>

<!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
<%= redux_store_hydration_data %>

</body>
</html>
