<!DOCTYPE html>
<html>
<head>
  <title>RailsReactTutorial</title>

  <%= stylesheet_pack_tag('client-bundle',
                                        media: 'all',
                                        'data-turbolinks-track': true) %>

  <%= javascript_pack_tag('client-bundle',
                                       'data-turbolinks-track': true,
                                       defer: true) %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= react_component "NavigationBarApp", prerender: false %>
<div class="container">
  <%= yield %>
</div>

<!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
<%= redux_store_hydration_data %>

</body>
</html>
