<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RailsReactTutorial</title>

  <%= csrf_meta_tags %>

  <%= append_stylesheet_pack_tag('stimulus-bundle') %>
  <%= append_javascript_pack_tag('stimulus-bundle') %>
</head>
<body class="min-h-screen flex flex-col bg-sky-50 text-gray-700">
  <%= react_component "NavigationBarApp" %>

  <div class="container mx-auto px-4 flex-grow">
    <%= yield %>
  </div>

  <%= react_component "Footer" %>

  <%= stylesheet_pack_tag(media: 'all', 'data-turbolinks-track': true) %>
  <%= javascript_pack_tag('data-turbolinks-track': true, defer: true) %>
</body>
</html>
